<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="view/img/bgrestaurant.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="view/img/bgrestaurant2.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->


<!-- Feature section -->
<section class="feature-section spad">
	
</section>
<!-- Feature section end -->