<!-- <div id="preloder">
    <div class="loader"></div>
</div> -->

<header class="header-section">
    <div class="container">
        <a href="index.html" class="site-logo">
            <img src="view/img/logo.png" alt="logo">
        </a>
        <!-- Switch button -->
        <div class="nav-switch">
            <div class="ns-bar"></div>
        </div>
        <div class="header-right">
                <a class="shopping-cart" id="cartbutton" href="cart">
                    <img src="view/img/cart.png" />
                </a>
                <div class="cart-number" id="cart-number"></div>
            <ul class="main-menu">
                <li id="homepage"><a href="home" data-tr="Home"></a></li>
                <li id="restaurants"><a href="restaurants">Restaurants</a></li>
                <li id="favourites"><a href="favourites">Favourites</a></li>
                <li id="aboutus"><a href="aboutus">About Us</a></li>
                <li id="services"><a href="services">Services</a></li>
                <li id="contactus"><a href="contact">Contact us</a></li>
                <li id="shop"><a href="shop">Shop</a></li>
            </ul>
            <div class="header-btns" id="header-btns">
                <a type="button" id="loginbutton" class="site-btn sb-c2">Login</a>
            </div>
            
            <!-- <div class="logged-in" id="logged-in">
                <h3 id="logged-in-name"></h3>
                <img id="logged-in-avatar" src="#"/>
            </div> -->
        </div>
    </div>
</header>