<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="view/img/bgrestaurant.jpg">
    <div class="container">
        <h2>Restaurant details</h2>
    </div>
</section>
<!-- Page Top section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<div class="container details_container"> <!-- id="details_restaurant" -->
        <div class="left-column">
            <img src='view/img/restaurant3.jpg' id="detailsimg">
        </div>
        <div class="right-column">
            <h2 id="detailsname"></h2>
            <ul>
                <li id="details1"></li>
                <li id="details2"></li>
                <li id="details3"></li>
                <li id="details4"></li>
            </ul>
        </div>
	</div>
</section>
<!-- Feature section end -->