<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="view/img/bgrestaurant.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="view/img/bgrestaurant2.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<input class="site-btn sb-c1 searchbutton" type="button" id="searchbutton_home" value="Search">
	<form class="row search-bar-restaurants" id="searchform" name="searchform">
		<select class="custom-select" id="searchtype">
			<option>Type</option>
			<option>Gourmet</option>
			<option>Fast Food</option>
			<option>Ethnic</option>
		</select>

		<div class="inputwrap">
			<input type="text" placeholder="Tastes" id="searchtastes">
			<div class="dropdown">
				<div id="dropdown-tastes" class="dropdown-content">
				
				</div>
			</div>
		</div>
		<div class="inputwrap">
			<input type="text" placeholder="Restaurant name" id="searchname">
				<div class="dropdown">
					<div id="dropdown-name" class="dropdown-content">
					
					</div>
				</div>
		</div>
	</form>
	<div class="container">
		<div class="row" id="homerestaurants">
			
		</div>
	</div>
	<div id="pagination"></div>
</section>
<!-- Feature section end -->